* {
  margin: 0;
}

body, html {
  /*height: 100%;*/
  overflow: scroll;
}

body {
  display: flex;
  /*align-items: center;*/
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.pink {
  border: 1px solid pink;
}
